*.pyc                                                    
*~                                                       
db.sqlite3                                               
/static                                                  
/ignore                                                  
*settings.py
__pycache__                                              
