{% include 'header.html' %}
{% load humanize %}

<div class="container">
    <h1>Resources</h1>
    <h3>in {{ group.current_node.name }}:{{ group.current_path }}</h3>

<table class="table">
    <thead>
    </thead>
    <tbody>
    {% for resource in resources %}
    <tr>
        <td><a href="{% url 'detail_resource' resource.id %}"><b>{{ resource.basename }}</b></a></td>
        <td>{{ resource.current_size | filesizeformat }}</td>
        <td>{{ resource.last_effect.command.finished_at | naturaltime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% include 'footer.html' %}


