{% include 'header.html' %}
{% load humanize %}

<div class="container">
    {% if group.physical %}
        <h1>Physical Resources</h1>
        <h3>in {{ group.current_node.name }}:{{ group.current_path }}</h3>
    {% else %}
        <h1>Tagged Resources</h1>
        <h3>in {{ group.name }}</h3>
    {% endif %}

<table class="table table-hover table-active">
    <thead class="thead-inverse">
        <tr>
            <th>Basename</th>
            <th>Size</th>
            <th>Last Seen</th>
        </tr>
    </thead>
    <tbody>
    {% for resource in resources %}
    <tr>
        <td><a href="{% url 'detail_resource' resource.id %}"><b>{{ resource.basename }}</b></a></td>
        <td>{{ resource.current_size | filesizeformat }}</td>
        <td>{{ resource.last_effect.command.finished_at | naturaltime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% include 'footer.html' %}


